#Igoriere folgendes: 
F95-Medical-Image-Analysis/Aufgabe2/build/
F95-Medical-Image-Analysis/Aufgabe3/build/
F95-Medical-Image-Analysis/Aufgabe4/build/
F95-Medical-Image-Analysis/sonstige/
F95-Medical-Image-Analysis/Latex-report/